modules = ["python-3.12"]
run = "uvicorn assistant:app --reload"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn assistant:app --reload"]

[[ports]]
localPort = 5050
externalPort = 80
